/* ================ Footer Section ================ */

footer {
  background: var(--bg1-color);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a {
  transition: var(--transition);
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  margin-top: 2rem;
}

.footer__socials li a:hover {
  color: var(--bg2-color);
}

.footer__copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--bg2-color);
}

/* ================= Media queries (Tablet) =================== */

@media screen and (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__1 p {
    margin: 1rem auto;
  }

  .footer__socials {
    justify-content: center;
  }
}

/* ================= Media queries (Phone) =================== */

@media screen and (max-width: 600px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__1 p {
    margin: 1rem auto;
  }

  .footer__socials {
    justify-content: center;
  }
}
